extends layout

block content
  .job-listing
    .job-header
      h2 Available Jobs
      p &nbsp;
    .job-items
      ul
        li
          a.job-link(href='/jobs/Google_SDE') 
            strong Google SDE 3
        li
          a.job-link(href='/jobs/Microsoft_DL_Intern') 
            strong Microsoft Deep Learning
        li
          a.job-link(href='/jobs/Amazon_GenAI') 
            strong Amazon Gen AI
